.parent {
    position: absolute; 
    top: 10%;
    margin-top: -20vh; /* Adjust this value as needed */
    /* width: 40%; */
    margin: 0;
    text-align: center;
    background-color: rgba(218, 208, 208, 0);
    color: rgb(22, 64, 214);
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}

  
  .welcome {
    color: rgb(22, 64, 214); /* Change to white for testing */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    font-size: 40px;
    animation: fadeInAndMove 3s ease-out;  
  }
  