.parent {
    position: absolute; 
    top: 10%;
    margin-top: -20vh; /* Adjust this value as needed */
    /* width: 40%; */
    margin: 0;
    text-align: center;
    background-color: rgba(218, 208, 208, 0);
    color: rgb(17, 34, 96);
    /* align-items: center; */
    /* align-content: center; */
    /* justify-content: center; */
    /* justify-items: center; */
}

  
  .welcome {
    color: rgb(25, 44, 128); /* Change to white for testing */
    text-shadow: 3px 3px 5px rgb(247, 246, 246);
    font-size: 50px;
    animation: fadeInAndMove 3s ease-out;  
  }
  