.button-container-B {
    margin-top: 20px;
    margin-bottom: 50px;
    padding-top: 40px;
    padding-bottom: 50px;
  }
  
/* Style for the button link */
.home-link-button-B {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    text-decoration: none;
}

/* Style for the button image */
.home-link-button-B img {
    width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.button-content {
    text-align: center;
}