.login {
    display: flex !important;
    flex-direction: column !important;
    /* justify-content: center !important; */
    align-items: center !important;
    /* align-content: center !important; */
    padding-top: 90px;
    font-size: 25px;
    text-align: center;
    

}