.custom-icon {
    position: fixed;
    top: 10px; /* Adjust the top distance as needed */
    right: 10px; /* Adjust the right distance as needed */
    width: 75px; /* Set the width to 20px */
    height: 75px; /* Set the height to 20px */
    cursor: pointer;
    background: none; /* Set background to none for transparency */
    border: none; /* Remove border */
    padding: 0; /* Remove padding */
    margin: 0; /* Remove margin */
  }
  
.custom-icon img {
    width: 100%; /* Make sure the image takes the full width of the container */
    height: 100%; /* Make sure the image takes the full height of the container */
  }
  
.custom-login {
    position: relative;
  }
  
.custom-dropdown {
    /* display: none; */
    position: absolute;
    top: -45px; /* Adjust the top distance as needed */
    right: 0;
    /* background-color: transparent; */
    /* border: 1px solid #ccc; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: max-height 0.3s ease; /* Smooth transition for max-height */
    overflow: hidden;
    max-height: 0;
    background-color: rgb(83, 117, 216);
  }
  
  .custom-menu-btn {
    display: none;
  }

  .custom-menu-btn:checked + .custom-menu-icon + .custom-dropdown {
    max-height: 1000px; /* Adjust the max-height to a sufficiently large value */
}
  
.custom-menu-btn:checked {
    outline: 2px solid red; /* Just for testing, remove this later */
}

  
  .custom-menu-icon {
    cursor: pointer;
    /* Add other styles for your menu icon */
  }
  
  .custom-dropdown a {
    display: block;
    /* position:absolute; */
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease; /* Smooth transition for background-color */
    z-index: 3;
}
  